<ion-content>

  <div class="logo">
    <img src="assets/logo.png">
    <ion-label class="title" for="">Scysmedic</ion-label>
    <ion-label class="subtitle" for="">Salud En Tu SmartPhone</ion-label>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input formControlName="userName" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contrasena</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>

    <ion-button type="submit" >Entrar</ion-button>

    <ion-router-link class="register" href="/auth/register">Registrarse</ion-router-link>

    <ion-router-link class="forgot" href="#">Olvidé mi usuario o contraseña</ion-router-link>

    <ion-label class="message">{{message}}</ion-label>

  </form>
</ion-content>