ion-content > .logo > * {
  text-align: center !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-content > .logo {
  background-color: white;
  padding: 15%;
}

ion-content > .logo > img {
  width: 25%;
}

ion-content > .logo > .title {
  font-weight: bold;
}

ion-content > .logo > .subtitle {
  font-weight: bold;
  color: grey;
}

//content
ion-content > form > * {
  display: block;
}

ion-content > form > ion-label, ion-content > form > ion-router-link {
  text-align: center;
}

ion-content > form > .message {
  color: red;
  padding-top: 10%;
}

ion-content > form > .forgot {
  margin-top: 5%;
  text-decoration: underline;
}

ion-content > form > .register {
  color: red;
  text-decoration: underline;
}
