<ion-header>
  <ion-toolbar>
    <img src="" alt="">
    <ion-title>Scysmedic-<i>Farmacy</i></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" routerLink="/home/despacho" class="fadeIn fourth" value="Acceder">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Olvidaste tu contrase~na?</a>
      </div>
  
    </div>
  </div>
</ion-content>
