<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Datos personales</ion-label>
      </ion-item-divider>

      <ion-item slot="end" button detail>
        <ion-icon name="person-circle"></ion-icon>
        <ion-label> &nbsp; Información de perfil</ion-label>
      </ion-item>
      <ion-item slot="end" button detail>
        <ion-icon name="mail"></ion-icon>
        <ion-label> &nbsp; Email</ion-label>
      </ion-item>
      <ion-item slot="end" button detail>
        <ion-icon name="shield"></ion-icon>
        <ion-label> &nbsp; Aseguradora de salud</ion-label>
      </ion-item>
      <ion-item slot="end" button detail>
        <ion-icon name="wallet"></ion-icon>
        <ion-label> &nbsp; Métodos de pago</ion-label>
      </ion-item>


      <ion-item-divider>
        <ion-label>Aplicación</ion-label>
      </ion-item-divider>
      <ion-item slot="end" button detail>
        <ion-icon name="color-palette"></ion-icon>
        <ion-label> &nbsp; Apariencia</ion-label>
      </ion-item>

    </ion-item-group>
  </ion-list>

</ion-content>