

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="citas">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Citas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="compras">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Compras</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="resultados">
        <ion-icon name="document-text-outline"></ion-icon>
        <ion-label>Resultados</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>