<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="cerrarSinPasarDatos()"></ion-back-button>
    </ion-buttons>
    <ion-title>Vincular seguro médico</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="submitForm()" novalidate>

    <ion-card>
      <ion-item>
        <ion-label>Aseguradora:</ion-label>
        <ionic-selectable [(ngModel)]="aseguradora_seleccionada" [ngModelOptions]="{standalone : true}" [items]="aseguradoras" itemValueField="id"
          itemTextField="nombre" [canSearch]="true" (onChange)="seleccionarAseguradora($event)">
        </ionic-selectable>
      </ion-item>
      <ion-item>
        <ion-label position="floating">NSS</ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>
    </ion-card>

    <ion-button expand="full" type="submit">Vincular seguro</ion-button>




  </form>



</ion-content>