
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Busqueda" aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">
        <ion-icon name="search-sharp"></ion-icon>
      </button>
    </div>
  </div>

  <ion-content
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
    <!-- <h1>Main Content</h1> -->

    <!-- <div slot="fixed">
      <h1>Fixed Content</h1>
    </div> -->

    <div class="list-group mt-2">
      <div class="list-group-item list-group-item-action">
        <div class="d-block-flex w-100 justify-content-end">
          <label class="float-right"><small>3 days ago</small></label>
          <h6 class="mt-1 float-left">Juan Pablo Peralta</h6>
        </div>
      </div>
    </div>
    <div class="list-group mt-2">
      <div class="list-group-item list-group-item-action">
        <div class="d-block-flex w-100 justify-content-end">
          <label class="float-right"><small>3 days ago</small></label>
          <h6 class="mt-1 float-left">Jonas Antonion de la Rosa</h6>
        </div>
      </div>
    </div>
    <div class="list-group mt-2">
      <div class="list-group-item list-group-item-action">
        <div class="d-block-flex w-100 justify-content-end">
          <label class="float-right"><small>3 days ago</small></label>
          <h6 class="mt-1 float-left">Esmeralda Rivas</h6>
        </div>
      </div>
    </div>
    <div class="list-group mt-2">
      <div class="list-group-item list-group-item-action">
        <div class="d-block-flex w-100 justify-content-end">
          <label class="float-right"><small>3 days ago</small></label>
          <h6 class="mt-1 float-left">Juan Antonion Matos</h6>
        </div>
      </div>
    </div>
    <div class="list-group mt-2">
      <div class="list-group-item list-group-item-action">
        <div class="d-block-flex w-100 justify-content-end">
          <label class="float-right"><small>3 days ago</small></label>
          <h6 class="mt-1 float-left">Alexandra Isabel Clase</h6>
        </div>
      </div>
    </div>
    <div class="list-group mt-2">
      <div class="list-group-item list-group-item-action">
        <div class="d-block-flex w-100 justify-content-end">
          <label class="float-right"><small>3 days ago</small></label>
          <h6 class="mt-1 float-left">Alexandra Isabel Clase</h6>
        </div>
      </div>
    </div>
    <div class="list-group mt-2">
      <div class="list-group-item list-group-item-action">
        <div class="d-block-flex w-100 justify-content-end">
          <label class="float-right"><small>3 days ago</small></label>
          <h6 class="mt-1 float-left">Alexandra Isabel Clase</h6>
        </div>
      </div>
    </div>

</ion-content>

