<div class="container-fluid">
  <ion-title class="mb-4">Nombre: <u>Juan Pablo Peralta</u> </ion-title>
  <div class="row">
    <div class="col-6">
      <label for="">Fecha de Compra</label>
      <input readonly type="date" class="form-control">
    </div>
    <div class="col-12 mt-4">
      <label for="">Medicamentos</label>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Aspirina</td>
            <td>Pastilla</td>
            <td>5</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Winasort</td>
            <td>Jarable</td>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Sicanil</td>
            <td>Crema</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
