<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Historial
    </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card button>
    <ion-card-header>
      <ion-chip color="primary">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <ion-label color="primary">Análisis</ion-label>
      </ion-chip>
      <ion-chip color="success" outline>
        <ion-label color="success">Realizado</ion-label>
      </ion-chip>
      <ion-card-title>Laboratorio Amadita</ion-card-title>
      <ion-card-subtitle>Fecha de la cita: 02/08/2020</ion-card-subtitle>
      <ion-card-subtitle>ANTI TSH-R</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card button>
    <ion-card-header>
      <ion-chip color="primary">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label color="primary">Compra</ion-label>
      </ion-chip>
      <ion-chip color="success" outline>
        <ion-label color="success">Recibida</ion-label>
      </ion-chip>
      <ion-card-title>Farmacia Carol</ion-card-title>
      <ion-card-subtitle>Fecha de la compra: 2020-07-02</ion-card-subtitle>
      <ion-card-subtitle>RD$ 250.00</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card button>
    <ion-card-header>
      <ion-chip color="primary">
        <ion-icon name="fitness-outline"></ion-icon>
        <ion-label color="primary">Cita</ion-label>
      </ion-chip>
      <ion-chip color="success" outline>
        <ion-label color="success">Realizada</ion-label>
      </ion-chip>
      <ion-card-title>Hospital Princeton-Plainsboro</ion-card-title>
      <ion-card-subtitle>Fecha de la cita: 25/07/2020</ion-card-subtitle>
      <ion-item>
        <ion-card-subtitle>Dr. Gregory House M. D.</ion-card-subtitle>
        <ion-avatar slot="end">
          <img src="https://2.bp.blogspot.com/_FtJE4E0UoCY/S4mRZMFm0hI/AAAAAAAAAhU/_wkrr0050Qw/s400/dr_house2_sip-300.jpg">
        </ion-avatar>
      </ion-item>
    </ion-card-header>
  </ion-card>
  <ion-card button>
    <ion-card-header>
      <ion-chip color="primary">
        <ion-icon name="fitness-outline"></ion-icon>
        <ion-label color="primary">Cita</ion-label>
      </ion-chip>
      <ion-chip color="success" outline>
        <ion-label color="success">Realizada</ion-label>
      </ion-chip>
      <ion-card-title>Hospital docente Dr. Dario Contreras</ion-card-title>
      <ion-card-subtitle>Fecha de la cita: 2020-06-25</ion-card-subtitle>
      <ion-item>
        <ion-card-subtitle>Dr. Pedro Sanchez</ion-card-subtitle>
        <ion-avatar slot="end">
          <img src="https://asset.for.myhealthcare.co/uploads/doctors/2019/10/1570509986profile.png">
        </ion-avatar>
      </ion-item>
    </ion-card-header>
  </ion-card>

</ion-content>