USE [ScysmedicDB]
GO
/****** Object:  Schema [App]    Script Date: 8/3/2020 11:36:44 PM ******/
CREATE SCHEMA [App]
GO
/****** Object:  Schema [Farmacias]    Script Date: 8/3/2020 11:36:44 PM ******/
CREATE SCHEMA [Farmacias]
GO
/****** Object:  Schema [Hospitales]    Script Date: 8/3/2020 11:36:44 PM ******/
CREATE SCHEMA [Hospitales]
GO
/****** Object:  Schema [Identity]    Script Date: 8/3/2020 11:36:44 PM ******/
CREATE SCHEMA [Identity]
GO
/****** Object:  Schema [Laboratorios]    Script Date: 8/3/2020 11:36:44 PM ******/
CREATE SCHEMA [Laboratorios]
GO
/****** Object:  Schema [Repository]    Script Date: 8/3/2020 11:36:44 PM ******/
CREATE SCHEMA [Repository]
GO
/****** Object:  Schema [Shared]    Script Date: 8/3/2020 11:36:44 PM ******/
CREATE SCHEMA [Shared]
GO
/****** Object:  Table [App].[Compra]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [App].[Compra](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[FarmaciaId] [int] NOT NULL,
	[RecetaId] [int] NOT NULL,
	[FechaCompra] [datetime2](7) NOT NULL,
	[CodigoVerificacion] [nvarchar](450) NOT NULL,
	[PrecioPagar] [int] NOT NULL,
	[TipoPago] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [App].[CompraDetalle]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [App].[CompraDetalle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompraId] [int] NOT NULL,
	[MedicamentoRecetaId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecionCompra] [int] NOT NULL,
	[Itebis] [int] NOT NULL,
	[MotivoDevolucionId] [int] NOT NULL,
	[Descripcion] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [App].[FarmaciaUser]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [App].[FarmaciaUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FarmaciaId] [int] NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[FechaAfiliacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [App].[HospitalEmpleadoUser]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [App].[HospitalEmpleadoUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HospitalId] [int] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[EspecialidadId] [int] NOT NULL,
	[FechaAfiliacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [App].[HospitalUser]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [App].[HospitalUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HospitalId] [int] NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[FechaAfiliacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [App].[LaboratorioUser]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [App].[LaboratorioUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LaboratorioId] [int] NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[FechaAfiliacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [App].[Receta]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [App].[Receta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[EmpleadoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [App].[RecetaDetalle]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [App].[RecetaDetalle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecetaId] [int] NOT NULL,
	[MedicamentoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Aplicacion] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [App].[Resultado]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [App].[Resultado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[LaboratorioId] [int] NOT NULL,
	[DocumentoId] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[HospitalId] [int] NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Farmacias].[Cargo]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Farmacias].[Cargo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Farmacias].[Empleado]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Farmacias].[Empleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[TipoDocId] [int] NOT NULL,
	[DocumentoIdentidad] [varchar](20) NULL,
	[Sexo] [varchar](1) NOT NULL,
	[FechaNacimiento] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Farmacias].[EmpleadoHistorial]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Farmacias].[EmpleadoHistorial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[FechaEntrada] [datetime2](7) NOT NULL,
	[CargoId] [int] NOT NULL,
	[FarmaciaId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Farmacias].[Farmacia]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Farmacias].[Farmacia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[TipoEmpresaId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Farmacias].[Medicamento]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Farmacias].[Medicamento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [text] NOT NULL,
	[TipoMedicamentoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Farmacias].[MedicamentoHostorial]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Farmacias].[MedicamentoHostorial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MedicamentoId] [int] NOT NULL,
	[SuplidorId] [int] NOT NULL,
	[FechaCompra] [datetime2](7) NOT NULL,
	[FechaVencimiento] [datetime2](7) NOT NULL,
	[CantidadAdquirida] [int] NOT NULL,
	[CantidadActual] [int] NOT NULL,
	[PrecioCompra] [int] NOT NULL,
	[PrecioVenta] [int] NOT NULL,
	[Itebis] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Farmacias].[Suplidor]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Farmacias].[Suplidor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[TipoEmpresaId] [int] NOT NULL,
	[Direccion] [varchar](max) NOT NULL,
	[UbicacionLatitud] [varchar](100) NOT NULL,
	[UbicacionLongitud] [varchar](100) NOT NULL,
	[FechaInicio] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Farmacias].[TipoMedicamento]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Farmacias].[TipoMedicamento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hospitales].[Cargo]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospitales].[Cargo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hospitales].[Empleado]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospitales].[Empleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[TipoDocId] [int] NOT NULL,
	[DocumentoIdentidad] [varchar](20) NULL,
	[Sexo] [varchar](1) NOT NULL,
	[FechaNacimiento] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hospitales].[EmpleadoEspecialidad]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospitales].[EmpleadoEspecialidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[EspecialidadId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hospitales].[EmpleadoHistorial]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospitales].[EmpleadoHistorial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[FechaEntrada] [datetime2](7) NOT NULL,
	[CargoId] [int] NOT NULL,
	[LaboratorioId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hospitales].[Especialidad]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospitales].[Especialidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hospitales].[Hospital]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hospitales].[Hospital](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[TipoEmpresaId] [int] NOT NULL,
	[Direccion] [varchar](max) NULL,
	[UbicacionLongitud] [int] NOT NULL,
	[UbicacionLatitud] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Identity].[__EFMigrationsHistory]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Identity].[AspNetRoleClaims]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Identity].[AspNetRoles]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Identity].[AspNetUserClaims]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Identity].[AspNetUserLogins]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Identity].[AspNetUserRoles]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Identity].[AspNetUsers]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Identity].[AspNetUserTokens]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Laboratorios].[Cargo]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Laboratorios].[Cargo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Laboratorios].[Empleado]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Laboratorios].[Empleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[TipoDocId] [int] NOT NULL,
	[DocumentoIdentidad] [varchar](20) NULL,
	[Sexo] [varchar](1) NOT NULL,
	[FechaNacimiento] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Laboratorios].[EmpleadoHistorial]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Laboratorios].[EmpleadoHistorial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[FechaEntrada] [datetime2](7) NOT NULL,
	[CargoId] [int] NOT NULL,
	[LaboratorioId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Laboratorios].[Laboratorio]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Laboratorios].[Laboratorio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[TipoEmpresaId] [int] NOT NULL,
	[Direccion] [varchar](max) NOT NULL,
	[UbicacionLatitud] [varchar](100) NOT NULL,
	[UbicacionLongitud] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Repository].[Documento]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Repository].[Documento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](max) NULL,
	[Formato] [varchar](max) NULL,
	[Path] [text] NOT NULL,
	[FechaCarga] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Shared].[MotivoDevolucion]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shared].[MotivoDevolucion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Shared].[TipoDocumento]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shared].[TipoDocumento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Shared].[TipoEmpresa]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shared].[TipoEmpresa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Siglas] [varchar](10) NOT NULL,
	[Descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Shared].[TipoPago]    Script Date: 8/3/2020 11:36:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shared].[TipoPago](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [App].[Compra]  WITH CHECK ADD FOREIGN KEY([FarmaciaId])
REFERENCES [App].[FarmaciaUser] ([Id])
GO
ALTER TABLE [App].[Compra]  WITH CHECK ADD FOREIGN KEY([RecetaId])
REFERENCES [App].[Receta] ([Id])
GO
ALTER TABLE [App].[Compra]  WITH CHECK ADD FOREIGN KEY([TipoPago])
REFERENCES [Shared].[TipoPago] ([Id])
GO
ALTER TABLE [App].[Compra]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [Identity].[AspNetUsers] ([Id])
GO
ALTER TABLE [App].[CompraDetalle]  WITH CHECK ADD FOREIGN KEY([CompraId])
REFERENCES [App].[Compra] ([Id])
GO
ALTER TABLE [App].[CompraDetalle]  WITH CHECK ADD FOREIGN KEY([MedicamentoRecetaId])
REFERENCES [App].[RecetaDetalle] ([Id])
GO
ALTER TABLE [App].[CompraDetalle]  WITH CHECK ADD FOREIGN KEY([MotivoDevolucionId])
REFERENCES [Shared].[MotivoDevolucion] ([Id])
GO
ALTER TABLE [App].[FarmaciaUser]  WITH CHECK ADD FOREIGN KEY([FarmaciaId])
REFERENCES [Farmacias].[Farmacia] ([Id])
GO
ALTER TABLE [App].[FarmaciaUser]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [Identity].[AspNetUsers] ([Id])
GO
ALTER TABLE [App].[HospitalEmpleadoUser]  WITH CHECK ADD FOREIGN KEY([EmpleadoId])
REFERENCES [Hospitales].[Empleado] ([Id])
GO
ALTER TABLE [App].[HospitalEmpleadoUser]  WITH CHECK ADD FOREIGN KEY([EspecialidadId])
REFERENCES [Hospitales].[EmpleadoEspecialidad] ([Id])
GO
ALTER TABLE [App].[HospitalEmpleadoUser]  WITH CHECK ADD FOREIGN KEY([HospitalId])
REFERENCES [App].[HospitalUser] ([Id])
GO
ALTER TABLE [App].[HospitalUser]  WITH CHECK ADD FOREIGN KEY([HospitalId])
REFERENCES [Hospitales].[Hospital] ([Id])
GO
ALTER TABLE [App].[HospitalUser]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [Identity].[AspNetUsers] ([Id])
GO
ALTER TABLE [App].[LaboratorioUser]  WITH CHECK ADD FOREIGN KEY([LaboratorioId])
REFERENCES [Laboratorios].[Laboratorio] ([Id])
GO
ALTER TABLE [App].[LaboratorioUser]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [Identity].[AspNetUsers] ([Id])
GO
ALTER TABLE [App].[Receta]  WITH CHECK ADD FOREIGN KEY([EmpleadoId])
REFERENCES [Hospitales].[Empleado] ([Id])
GO
ALTER TABLE [App].[Receta]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [Identity].[AspNetUsers] ([Id])
GO
ALTER TABLE [App].[RecetaDetalle]  WITH CHECK ADD FOREIGN KEY([MedicamentoId])
REFERENCES [Farmacias].[Medicamento] ([Id])
GO
ALTER TABLE [App].[RecetaDetalle]  WITH CHECK ADD FOREIGN KEY([RecetaId])
REFERENCES [App].[Receta] ([Id])
GO
ALTER TABLE [App].[Resultado]  WITH CHECK ADD FOREIGN KEY([DocumentoId])
REFERENCES [Repository].[Documento] ([Id])
GO
ALTER TABLE [App].[Resultado]  WITH CHECK ADD FOREIGN KEY([LaboratorioId])
REFERENCES [App].[LaboratorioUser] ([Id])
GO
ALTER TABLE [App].[Resultado]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [Identity].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD FOREIGN KEY([EmpleadoId])
REFERENCES [App].[HospitalEmpleadoUser] ([Id])
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD FOREIGN KEY([HospitalId])
REFERENCES [App].[HospitalUser] ([Id])
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [Identity].[AspNetUsers] ([Id])
GO
ALTER TABLE [Farmacias].[Empleado]  WITH CHECK ADD FOREIGN KEY([TipoDocId])
REFERENCES [Shared].[TipoDocumento] ([Id])
GO
ALTER TABLE [Farmacias].[EmpleadoHistorial]  WITH CHECK ADD FOREIGN KEY([CargoId])
REFERENCES [Farmacias].[Cargo] ([Id])
GO
ALTER TABLE [Farmacias].[EmpleadoHistorial]  WITH CHECK ADD FOREIGN KEY([EmpleadoId])
REFERENCES [Farmacias].[Empleado] ([Id])
GO
ALTER TABLE [Farmacias].[EmpleadoHistorial]  WITH CHECK ADD FOREIGN KEY([FarmaciaId])
REFERENCES [Farmacias].[Farmacia] ([Id])
GO
ALTER TABLE [Farmacias].[Medicamento]  WITH CHECK ADD FOREIGN KEY([TipoMedicamentoId])
REFERENCES [Farmacias].[TipoMedicamento] ([Id])
GO
ALTER TABLE [Farmacias].[MedicamentoHostorial]  WITH CHECK ADD FOREIGN KEY([MedicamentoId])
REFERENCES [Farmacias].[Medicamento] ([Id])
GO
ALTER TABLE [Farmacias].[MedicamentoHostorial]  WITH CHECK ADD FOREIGN KEY([SuplidorId])
REFERENCES [Farmacias].[Suplidor] ([Id])
GO
ALTER TABLE [Farmacias].[Suplidor]  WITH CHECK ADD FOREIGN KEY([TipoEmpresaId])
REFERENCES [Shared].[TipoEmpresa] ([Id])
GO
ALTER TABLE [Hospitales].[Empleado]  WITH CHECK ADD FOREIGN KEY([TipoDocId])
REFERENCES [Shared].[TipoDocumento] ([Id])
GO
ALTER TABLE [Hospitales].[EmpleadoEspecialidad]  WITH CHECK ADD FOREIGN KEY([EmpleadoId])
REFERENCES [Hospitales].[Empleado] ([Id])
GO
ALTER TABLE [Hospitales].[EmpleadoEspecialidad]  WITH CHECK ADD FOREIGN KEY([EspecialidadId])
REFERENCES [Hospitales].[Especialidad] ([Id])
GO
ALTER TABLE [Hospitales].[EmpleadoHistorial]  WITH CHECK ADD FOREIGN KEY([CargoId])
REFERENCES [Hospitales].[Cargo] ([Id])
GO
ALTER TABLE [Hospitales].[EmpleadoHistorial]  WITH CHECK ADD FOREIGN KEY([EmpleadoId])
REFERENCES [Hospitales].[Empleado] ([Id])
GO
ALTER TABLE [Hospitales].[EmpleadoHistorial]  WITH CHECK ADD FOREIGN KEY([LaboratorioId])
REFERENCES [Hospitales].[Hospital] ([Id])
GO
ALTER TABLE [Hospitales].[Hospital]  WITH CHECK ADD FOREIGN KEY([TipoEmpresaId])
REFERENCES [Shared].[TipoEmpresa] ([Id])
GO
ALTER TABLE [Identity].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [Identity].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [Identity].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [Identity].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [Identity].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [Identity].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [Identity].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [Identity].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [Identity].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [Identity].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [Identity].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [Identity].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [Laboratorios].[Empleado]  WITH CHECK ADD FOREIGN KEY([TipoDocId])
REFERENCES [Shared].[TipoDocumento] ([Id])
GO
ALTER TABLE [Laboratorios].[EmpleadoHistorial]  WITH CHECK ADD FOREIGN KEY([CargoId])
REFERENCES [Laboratorios].[Cargo] ([Id])
GO
ALTER TABLE [Laboratorios].[EmpleadoHistorial]  WITH CHECK ADD FOREIGN KEY([EmpleadoId])
REFERENCES [Laboratorios].[Empleado] ([Id])
GO
ALTER TABLE [Laboratorios].[EmpleadoHistorial]  WITH CHECK ADD FOREIGN KEY([LaboratorioId])
REFERENCES [Laboratorios].[Laboratorio] ([Id])
GO
ALTER TABLE [Laboratorios].[Laboratorio]  WITH CHECK ADD FOREIGN KEY([TipoEmpresaId])
REFERENCES [Shared].[TipoEmpresa] ([Id])
GO
